// This file is part of help.eyeo.com.
// Copyright (C) 2017 Eyeo GmbH
//
// help.eyeo.com is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// help.eyeo.com is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with help.eyeo.com.  If not, see <http://www.gnu.org/licenses/>.

/*******************************************************************************
 * Browser Select
 ******************************************************************************/

#browser-select-label
{
  margin-right: $small-space;
  text-transform: uppercase;
}

[dir="rtl"] #browser-select-label
{
  margin-right: auto;
  margin-left: $small-space;
}

#browser-select
{
  display: inline-block;
  width: 100%;
  max-width: 300px;
}

#browser-select li
{
  cursor: pointer;
}

#browser-select .pre-icon
{
  opacity: 0.5;

  /* IE 6-9 */
  filter: gray;
  
  filter: grayscale(100%);
}

#browser-select .custom-select-selected .pre-icon,
#browser-select .custom-select-option:hover .pre-icon,
#browser-select .custom-select-option:focus .pre-icon
{
  opacity: 1;
  filter: none;
}
